@import "../../../styles.scss";

.wrapper {
  & header {
    background-color: $cream;
    font-size: 2rem;
    padding: 16px;
  }

  & .table {
    max-width: 1280px;
    margin: auto;
    & .add-btn {
      @include custom-button($dark-peach, $white);
    }
    & table {
      width: 100%;
      & .table-inner-container {
        overflow-x: auto;
      }

      & thead {
        & th {
          padding: 20px 0;
          font-size: rem(24px);
          font-weight: 500;
        }
      }
      & th,
      td {
        text-align: start;
        vertical-align: baseline;
      }
    }
  }
}
