<div class="wrapper">
  <app-admin-header></app-admin-header>
  <div class="table">
    <button class="add-btn" (click)="onOpenModal()">
      Add a {{ currentTableType }} +
    </button>
    <table>
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let section of currentTableHeader">{{ section }}</th>
        </tr>
      </thead>
      <tbody>
        <app-admin-table-row
          *ngFor="let item of currentTableItems"
          [tableType]="currentTableType"
          [item]="item"
          (deleteItem)="onDeleteItem($event)"
        ></app-admin-table-row>
      </tbody>
    </table>
  </div>
</div>
<app-add-entity-modal
  [isOpen]="isModalOpen"
  [formType]="currentTableType"
  (closeModal)="onCloseModal()"
  [form]="currentForm"
  [items]="currentTableItems"
  (formSubmit)="onFormSubmit()"
></app-add-entity-modal>
