<div class="wrapper" (click)="onCloseModal()" *ngIf="isOpen"></div>
<div *ngIf="isOpen" class="modal-container">
  <form [formGroup]="form" class="flex column" (ngSubmit)="onFormSubmit()">
    <label>
      Name
      <input type="text" formControlName="name" />
    </label>
    <label>
      Image URL
      <input type="text" formControlName="imgUrl" />
    </label>
    <label *ngIf="formType === 'chef'">
      About
      <textarea formControlName="about" cols="30" rows="4"></textarea>
    </label>
    <label *ngIf="formType === 'dish'">
      Ingredients
      <input type="text" formControlName="ingredients" />
    </label>
    <label *ngIf="formType === 'dish'">
      Price
      <input type="number" min="10" formControlName="price" />
    </label>
    <label *ngIf="formType === 'dish'">
      Restaurant
      <select formControlName="restaurant">
        <option
          *ngFor="let restaurant of entities.restaurant"
          [value]="restaurant._id"
        >
          {{ restaurant.name }}
        </option>
      </select>
    </label>
    <div class="flex column" formGroupName="types" *ngIf="formType === 'dish'">
      <label *ngFor="let type of form.get('types')?.value | keyvalue">
        {{ type.key }}
        <input
          type="checkbox"
          formControlName="{{ type.key }}"
          [value]="type.value"
        />
      </label>
    </div>
    <label *ngIf="formType === 'restaurant'">
      Chef
      <select formControlName="chef">
        <option *ngFor="let chef of entities.chef" [value]="chef._id">
          {{ chef.name }}
        </option>
      </select>
    </label>

    <button class="submit-btn" [disabled]="!form.valid">Submit</button>
  </form>
</div>
