<article
  class="wrapper"
  [class.dish]="previewType === 'dish'"
  ngClass.gt-sm="desktop"
  *ngIf="dish"
  fxLayout="column"
>
  <h3 class="outer-title">{{ dish.restaurant?.name }}</h3>
  <img [src]="dish.imgUrl" alt="dish" class="preview-img" />
  <div class="inner-titles-container flex column grow">
    <div>
      <h3 class="inner-title">
        {{ dish.name }}
      </h3>
      <h4 class="inner-description">
        {{ dish.ingredients }}
      </h4>
    </div>

    <div class="price-and-icon-container">
      <img
        *ngFor="let path of iconsPaths"
        [src]="path"
        alt="icon"
        class="icon"
      />
      <div class="lines-and-price">
        <span></span>
        <span class="price">{{
          dish.price | currency: "ILS":"symbol":"2.0"
        }}</span>
        <span></span>
      </div>
    </div>
  </div>
</article>
