@import "../../../styles.scss";

:host {
  // min-width: 1280px;
  display: contents;
  // &:not(:last-child) {
  //   margin-bottom: 10px;
  // }
}

.table-row {
  background-color: $normal-grey;
  & img {
    object-fit: cover;
    aspect-ratio: 1/1;
    max-width: 100px;
  }

  & td {
    text-align: start;
    vertical-align: baseline;
    max-width: 500px;
    min-width: 100px;
    padding: 8px;
    font-weight: 300;
  }
  & button {
    @include custom-button($pale-peach, $black);
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  // &.chef {
  //   grid-template-columns: 100px 200px 200px minmax(200px, 1fr) 200px;
  // }
  // &.dish {
  //   grid-template-columns: 100px 200px 200px 200px minmax(200px, 1fr) 100px 200px;
  // }
  // &.restaurant {
  //   grid-template-columns: 100px 200px 200px minmax(200px, 1fr) 200px;
  // }
}
