<div
  class="table-row"
  [class.chef]="tableType === 'chef'"
  [class.dish]="tableType === 'dish'"
  [class.restaurant]="tableType === 'restaurant'"
>
  <span class="table-data-cell">
    <img
      [src]="item.imgUrl || '../../../assets/img/logo@3x.png'"
      alt="thumbnail"
    />
  </span>
  <span class="table-data-cell">
    <span>{{ item.name }}</span>
  </span>
  <span class="table-data-cell" *ngFor="let column of item.columns">
    <span *ngIf="column.columnType === 'text'">{{ column.columnValue }}</span>
  </span>

  <!-- Actions -->
  <div class="actions-container">
    <button (click)="onDeleteItem()">Delete</button>
    <button>Edit</button>
  </div>
  <!-- Actions -->
</div>
