<section class="wrapper main-layout" ngClass.gt-sm="desktop" *ngIf="chefOfTheWeek">
  <h2 class="section-title">CHEF OF THE WEEK :</h2>
  <div class="image-and-description flex column">
    <div class="img-wrapper">
      <div>
        <img [src]="chefOfTheWeek.imgUrl" [alt]="chefOfTheWeek.name" />
        <h3 class="chef-name">{{chefOfTheWeek.name}}</h3>
      </div>
    </div>
    <p >{{chefOfTheWeek.about}}
    </p>
  </div>
  <app-preview-items-list
    title="Yossi’s restaurants :"
    [items]="chefOfTheWeek.restaurants"
    previewType="restaurant-sm"
  ></app-preview-items-list>
</section>
