<section
  class="wrapper main-layout flex column align-center"
  ngClass.gt-sm="desktop"
>
  <div
    class="text-and-logo flex column justify-space-between align-center"
  >
    <div class="text">
      <h2 class="section-title">ABOUT US :</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel
        justo fermentum bibendum non eu ipsum. Cras porta malesuada eros, eget
        blandit turpis suscipit at. Vestibulum sed massa in magna sodales porta.
        Vivamus elit urna, dignissim a vestibulum.
        <br />
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel
        justo fermentum bibendum no eu ipsum. Cras porta malesuada eros.
      </p>
    </div>
    <img src="../../../assets/img/about-logo@3x.png" alt="logo" class="logo" />
  </div>
  <div class="download-links flex justify-center align-center">
    <a href="#">
      <img
        src="../../../assets/img/apple-icon.svg"
        alt="apple icon"
        class="icon"
      />
      <h4>Download on the</h4>
      <h3>App Store</h3>
    </a>
    <a href="#">
      <img
        src="../../../assets/img/play-icon.svg"
        alt="play icon"
        class="icon"
      />
      <h4>Get it on</h4>
      <h3>Google Play</h3>
    </a>
  </div>
</section>
