* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  @extend .font-setup;
  margin: 0;
  letter-spacing: 1.1px;
}

button {
  @extend .font-setup;
  cursor: pointer;
  letter-spacing: 1.1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  width: 100%;
}

input,
textarea {
  @extend .font-setup;
  letter-spacing: 1.1px;

  &:focus {
    outline: none;
  }
}