@import "~swiper/swiper-bundle";

.swiper-slide {
  height: unset !important;
}

.swiper-container {
  margin: unset !important;
  padding-bottom: 50px;
}

.swiper-pagination-bullet-active {
  background-color: $sand;
}

.swiper-button-disabled,
.swiper-button-next,
.swiper-button-prev {
  color: $sand;
}
